/* Built-in animations
 * Slidein is not limited to these (you are free to
 * set slide-anim to use any animation defined in CSS),
 * but these cover pretty much everything you'd want.
 */

/* Fade in from left */
@keyframes fadeleft {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* Fade in from right */
@keyframes faderight {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* Fade in from top */
@keyframes fadetop {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* Fade in from bottom */
@keyframes fadebottom {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* Grow element from left */
@keyframes growleft {
  from {
    opacity: 0;
    transform: scaleX(0);
    transform-origin: left;
  }
  to {
    opacity: 1;
    transform: scaleX(1.0);
    transform-origin: left;
  }

}

/* Grow element from right */
@keyframes growright {
  from {
    opacity: 0;
    transform: scaleX(0);
    transform-origin: right;
  }
  to {
    opacity: 1;
    transform: scaleX(1.0);
    transform-origin: right;
  }

}

.noslide {
  opacity: inherit !important;
}

[slide] {
  opacity: 0;
}

/* Hide children of cascade and slide-children elements */
[slide-cascade] > * {
  opacity: 0;
}

[slide-children] > * {
  opacity: 0;
}
